* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

nav {
    background-color: #b4b4b4;

}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

nav {
    position: relative;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 1em;

}

nav li a:hover {
    color: #0000ff;
}

#logo {
    margin-left: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;

}

#logo a {
    padding: .2em 0;
    font-size: 3em;

}

#follow {
    margin-left: auto;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #b4b4b4;
    padding: 2em 10em;
    color: #000;
}

footer a {
    text-decoration: none;
}

#footerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5em;

}

#footerLogo {
    align-self: flex-end;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1.5em;
    flex-grow: 1;
}

#footerLogo a {
    font-size: 3em;
    color: #000;
}

#footerLogo a:hover {
    color: #0000ff;
}

#footerLinks {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    font-size: 1.2em;
}

#footerLinks div {
    display: flex;
    flex-direction: column;
    margin: 2em 2em 0;
}

#footerLinks a {
    margin-top: .5em;
    color: #000;
}

#footerLinks a:hover {
    color: #0000ff;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 75%;
}

#footerSocial {
    text-align: center;
    padding: 2em;
}

#footerSocial i {
    margin: 1em;
    font-size: 1.5em;
}

#footerSocial i:hover {
    cursor: pointer;
    color: #0000ff;
}

#copyright {
    text-align: center;
}






