body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    font-family: 'EB Garamond', serif;
}

.header h2 {
    font-style: italic;
}

.fa {
    font-size: 1.2em;
    color: #0275d8
;
}

hr {
    border: 3px solid #d7c692;
}
