:root {
    --bg-info: #a0bfef;
    --bg-success: #98fb98;
    --bg-warning: #eaea9d;
    --bg-error: #eea0a0;
    --text-info: #191970;
    --text-success: #005700;
    --text-warning: #a52a2a;
    --text-error: #700909;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

div {
    width: 80%;
    margin: .5em;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .3em;
}

.message-info {
    background-color: var(--bg-info);
    color: var(--text-info);
}

.message-success {
    background-color: var(--bg-success);
    color: var(--text-success);
}

.message-warning {
    background-color: var(--bg-warning);
    color: var(--text-warning);
}

.message-error {
    background-color: var(--bg-error);
    color: var(--text-error);
}