body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

div {
    width: 80%;
    margin: .5em;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .3em;
}

.message-info {
    background-color: #8cacea;
    color: #191970;
}

.message-success {
    background-color: #98fb98;
    color: #005700;
}

.message-warning {
    background-color: #eaea9d;
    color: #a52a2a;
}

.message-error {
    background-color: #eea0a0;
    color: #700909;
}