
body {
    /*background-color: #FFE3FE;*/
    background-image: url("../img/wallpaper2you_255611.jpeg");
}

#mainHeading {
    text-align: center;
}

.fancy-header {
    color: #800080; /* single line comment */
    text-decoration: underline;
}

.colorHeader {
    color: #4CA1A3;
    text-decoration: underline;
}