
body {
    background-color: #FFE3FE;
    font-family: 'Padauk', sans-serif;
    background-image: url("../img/wallpaper2you_255611.jpeg");
    background-position: cover;
    background-repeat: no-repeat;
}

#mainHeading {
    text-align: center;
}

.fancy-header {
    color: #800080; /* single line comment */
    text-decoration: underline;
}

.colorHeader {
    color: #4CA1A3;
    text-decoration: underline;
}

ul {
    list-style: square;
}

ol {
    list-style: upper-roman;
}

table {
    border: 1px solid black;
    text-align: center;
    padding: 1rem;
}

th {
  font-size: 2rem;
}

.tdHeader {
    font-size: 1.5rem;
}